.modal

&__btn {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    padding: 10px 41px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-btn-submit {
    margin-top: 30px;
    text-align: center;
}

.close-btn {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    fill: #000000;
}

.btn-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
}